accelerate==0.16.0
bert-score==0.3.12
diffusers==0.13.0
einops==0.6.1
evaluate==0.4.0
mauve-text==0.3.0
rouge-score==0.1.2
sacrebleu==2.3.1
sacremoses==0.0.53
sentencepiece==0.1.98
tensorboard==2.12.0
