accelerate==0.26.1
bert-score==0.3.12
diffusers==0.17.1
einops==0.6.1
evaluate==0.4.0
mauve-text==0.3.0
rouge-score==0.1.2
sacrebleu==2.3.1
sacremoses==0.0.53
sentencepiece==0.1.99
tensorboard==2.13.0
gradio==3.35.2
transformers==4.37.1
